[Unit]
Description=flask-app service
After=network.target

[Service]
ExecStartPre=/usr/local/bin/flask-app.sh
EnvironmentFile=/usr/local/bin/flask-app.env
WorkingDirectory=/home/ubuntu/flask-alb-app
Type=simple
Restart=no
User=ubuntu
ExecStart=/home/ubuntu/.local/bin/gunicorn -b 0.0.0.0 appy:app


[Install]
WantedBy=multi-user.target
