variable "ami" {
  type    = string
  default = "${AMI_ID}"
}

variable "region" {
  type    = string
  default = "${region}"
}

variable "instance_size" {
  type    = string
  default = "${instance_type}"
}
